{% extends "base.html" %}

{% set model_status = none %}
{% set data_status = none %}
{% set audit_status = 'active' %}
{% set runs_status = none %}
{% include "include/navbar.html" %}

{% block title %}
  <title>Model Audit</title>
{% endblock %}

{% block content %}
<body id="ModelAuditPage">

  
<br>
<div class="container" style="padding-top:60px; margin-left: 8%;">

<!---- Form for selecting repository -------->
  <div class="btn-group">
      <div class="dropdown" id="MetadataRepositoriesSelect">
        <a class="btn dropdown-toggle m-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
          
          {% if selected_repository is not none %}
            {{selected_repository}}
          {% else %}
            Select repository
          {% endif %}

        </a>
      
        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
          {% if repositories is not none %}

            {% for repository in repositories %}
              <a class="dropdown-item" href="/opsml/audit/?repository={{repository}}">{{repository}}</a>
            {% endfor %}
          
            {% else %}
            <a class="dropdown-item" href="#">No repository Found</a>
            {% endif %}
        </div>
      </div>

      <div class="dropdown" id="MetadataRepositoriesSelect">
        <a class="btn dropdown-toggle m-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
          
          {% if selected_model is not none %}
            {{selected_model}}
          {% else %}
            Select Model
          {% endif %}
    
        </a>
        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
          {% if models is not none %}
            {% for model in models %}
              <a class="dropdown-item" href="/opsml/audit/?repository={{selected_repository}}&model={{model}}">{{model}}</a>
            {% endfor %}
          {% endif %}
        </div>
      </div>


      <div class="dropdown" id="MetadataRepositoriesSelect">
        <a class="btn dropdown-toggle m-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
          {% if version is not none %}
            {{version}}
          {% else %}
            Select Version
          {% endif %}
        </a>
      
        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
          {% if versions is not none %}
            {% for version in versions %}
              <a class="dropdown-item" href="/opsml/audit/?repository={{selected_repository}}&model={{selected_model}}&version={{version}}">{{version}}</a>
            {% endfor %}
          {% endif %}
        </div>
      </div>

  </div>



{% if audit_report is not none %}

<br>
<br>

<!-- Dont want to show comments unless card already exists -->


<div class="container" id="PageHeader">
    <div class="page-header">
      <div style="clear: both">
        <h2  style="display: inline-block">AuditCard for {{selected_model}}:{{version}}</h2>

        {% if audit_report["timestamp"] is not none %}
          <h5  style="display: inline-block; float:right;">Updated at: {{audit_report["timestamp"]}}</h5>
        {% endif %}
      </div>
    <hr>

      <div class="dropdown" id="MetadataRepositoriesSelect">
        <button id="audit-upload-button" class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="float:right;">Comments</button>
        <div class="offcanvas offcanvas-end" style="background-color:#f0f2f5;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Comments</h5>
            <button id="audit-upload-button" type="button" class="btn-success" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          {% if audit_report["uid"] is not none %}
            <div class="offcanvas-body">
              {% with audit_report =  audit_report %}
              {% include "include/audit/comment_card.html" %}
              {% endwith %}
            </div>
          {% else %}

            <div class="offcanvas-body">
              <h5>Save AuditForm to enable comments</h5>
            </div>
          {% endif %}
      </div>

      {% if audit_report["status"] == true %}

      <h3>Status: <font color="green">Approved</font></h3>

      {% else %}

      <h3>Status: <font color="red">Not Approved</font></h3>

      {% endif %}
    </div>
</div>

<br>

<form action="/opsml/audit/upload" method="POST" id="AuditUpload" name="AuditUpload" enctype="multipart/form-data">
  <div class="mb-3">
    <label class="btn btn-success" id="audit-choose-button">
      <input name="audit_file" id="audit_file" type="file" style="display:none" 
      onchange="$('#upload-file-info').text(this.files[0].name)">
      Choose Audit File
    </label>


    <span class='label label-info' id="upload-file-info"></span>  
    <div class="form-group row">
      <!--Hidden fields-->
      <input name="name" type="hidden" class="form-control" id="InputName" placeholder="Name" {% if audit_report["name"] is not none %} value={{audit_report["name"]}} {% endif %}>
      <input name="repository" type="hidden" class="form-control" id="Inputrepository" placeholder="repository" {% if audit_report["repository"] is not none %} value={{audit_report["repository"]}} {% endif %}>
      <input name="contact" type="hidden" class="form-control" id="InputContact" placeholder="Contact" {% if audit_report["contact"] is not none %} value={{audit_report["contact"]}} {% endif %}>
      <input name="uid" type="hidden" class="form-control" id="InputUid" {% if audit_report["uid"] is not none %} value={{audit_report["uid"]}} {% endif %}>
      <input name="selected_model_name" type="hidden" class="form-control" id="InputModelName" value={{selected_model}}>
      <input name="selected_model_repository" type="hidden" class="form-control" id="InputModelrepository" value={{selected_repository}}>
      <input name="selected_model_version" type="hidden" class="form-control" id="InputModelVersion" value={{version}}>
      <input name="selected_model_contact" type="hidden" class="form-control" id="InputModelContact" value={{selected_contact}}>
    </div>
  </div>
  <button id="audit-upload-button" type="submit" class="btn btn-success active" >Upload</button>




</form>

<br>

  <form action="/opsml/audit/save" method="POST" id="AuditForm" name="AuditForm">
    <div class="form-group row">
      <div class="col">
        <label for="InputName">Audit Name</label>
        <input name="name" type="text" class="form-control" id="InputName" placeholder="Name" {% if audit_report["name"] is not none %} value={{audit_report["name"]}} {% endif %} required>
      </div>
      <div class="col">
        <label for="Inputrepository">repository</label>
        <input name="repository" type="text" class="form-control" id="Inputrepository" placeholder="repository" {% if audit_report["repository"] is not none %} value={{audit_report["repository"]}} {% endif %} required>
      </div>
      <div class="col">
        <label for="InputContact">Contact</label>
        <input name="contact" type="text" class="form-control" id="InputContact" placeholder="Contact" {% if audit_report["contact"] is not none %} value={{audit_report["contact"]}} {% endif %} required>
      </div>
    </div>
    <br>

    <div class="form-group row">
          <input name="selected_model_name" type="hidden" class="form-control" id="InputModelName" value={{selected_model}}>
          <input name="selected_model_repository" type="hidden" class="form-control" id="InputModelrepository" value={{selected_repository}}>
          <input name="selected_model_version" type="hidden" class="form-control" id="InputModelVersion" value={{version}}>
          <input name="selected_model_contact" type="hidden" class="form-control" id="InputModelContact" value={{selected_contact}}>
          <input name="uid" type="hidden" class="form-control" id="InputUid" {% if audit_report["uid"] is not none %} value={{audit_report["uid"]}} {% endif %}>
    </div>

    
    <div class="accordion accordion-flush" id="AuditAccordion">
    {% for section, section_data in audit_report["audit"].items() %}
        {% with section=section, section_data=section_data %}
        {% include "include/audit/audit_section.html" %}
        {% endwith %}
    {% endfor %}
    </div>

    <br>
      <button id="audit-upload-button" type="submit" class="btn btn-success" >Save AuditCard</button>
      <button id="audit-upload-button" type="submit" class="btn btn-success" style="float:right;" formaction="/opsml/audit/download">Download Audit</button>


  </form>




  {% endif %}



</div>

<br>

</body>

{% endblock %}

