<nav class="navbar navbar-default" role="navigation" id="ProjectNav">
	<div class="container">
		<div class="navbar-header pull-left">
			<a id="project-toggle" href="#" class="navbar-toggle">			     
           <i class="fa fa-angle-left" aria-hidden="true"></i> Projects
			</a> 
		</div>
		<div id="sidebar-wrapper" class="sidebar-toggle">

			<ul class="nav nav-pills nav-stacked navBar">
				<li class="active"><a href="#" onclick="SelectSection('');"><i class="fa fa-fw fa fa-align-justify"></i>All Sections</a></li>
				<li><a href="#" onclick="SelectSection('PersonalDetails');"><i class="fa fa-fw fa-file-text"></i>Personal Details</a></li>
				<li><a href="#" onclick="SelectSection('PersonalDetails');"><i class="fa fa-fw fa-file-text"></i>Personal Details</a></li>
				<li><a href="#" onclick="SelectSection('IdentificationDocument');"><i class="fa fa-fw fa-file-text"></i>Identification Document</a></li>
				<li><a href="#" onclick="SelectSection('IdentificationDocument');"><i class="fa fa-fw fa-file-text"></i>Identification Document</a></li>
				<li><a href="#" onclick="SelectSection('SegmentClass');"><i class="fa fa-fw fa-file-text"></i>Segment Class</a></li>
				<li><a href="#" onclick="SelectSection('SegmentClass');"><i class="fa fa-fw fa-file-text"></i>Segment Class</a></li>
				<li><a href="#" onclick="SelectSection('EmploymentDetails');"><i class="fa fa-fw fa-file-text"></i>Employment Details</a></li>
				<li><a href="#" onclick="SelectSection('EmploymentDetails');"><i class="fa fa-fw fa-file-text"></i>Employment Details</a></li>
				<li><a href="#" onclick="SelectSection('ContactDetails');"><i class="fa fa-fw fa-file-text"></i>Contact Details</a></li>
				<li><a href="#" onclick="SelectSection('ContactDetails');"><i class="fa fa-fw fa-file-text"></i>Contact Details</a></li>
				<li><a href="#" onclick="SelectSection('ExpectedTurnover');"><i class="fa fa-fw fa-file-text"></i>Expected Turnover / Month</a></li>
				<li><a href="#" onclick="SelectSection('ExpectedTurnover');"><i class="fa fa-fw fa-file-text"></i>Expected Turnover / Month</a></li>
				<li><a href="#" onclick="SelectSection('CRS');"><i class="fa fa-fw fa-file-text"></i>CRS</a></li>
				<li><a href="#" onclick="SelectSection('CRS');"><i class="fa fa-fw fa-file-text"></i>CRS</a></li>
				<li><a href="#" onclick="SelectSection('ResidenceAddress');"><i class="fa fa-fw fa-file-text"></i>Residence Address</a></li>
				<li><a href="#" onclick="SelectSection('ResidenceAddress');"><i class="fa fa-fw fa-file-text"></i>Residence Address</a></li>
				<li><a href="#" onclick="SelectSection('MailingAddress');"><i class="fa fa-fw fa-file-text"></i>Mailing Address</a></li>
				<li><a href="#" onclick="SelectSection('MailingAddress');"><i class="fa fa-fw fa-file-text"></i>Mailing Address</a></li>
				<li><a href="#" onclick="SelectSection('WorkAddress');"><i class="fa fa-fw fa-file-text"></i>Work Address</a></li>
				<li><a href="#" onclick="SelectSection('WorkAddress');"><i class="fa fa-fw fa-file-text"></i>Work Address</a></li>
				<li><a href="#" onclick="SelectSection('HomeCountryAddress');"><i class="fa fa-fw fa-file-text"></i>Home Country Address</a></li>
				<li><a href="#" onclick="SelectSection('HomeCountryAddress');"><i class="fa fa-fw fa-file-text"></i>Home Country Address</a></li>
				<li><a href="#" onclick="SelectSection('Fatca');"><i class="fa fa-fw fa-file-text"></i>FATCA</a></li>
				<li><a href="#" onclick="SelectSection('Fatca');"><i class="fa fa-fw fa-file-text"></i>FATCA</a></li>
				<li><a href="#" onclick="SelectSection('Services');"><i class="fa fa-fw fa-file-text"></i>Services</a></li>
				<li><a href="#" onclick="SelectSection('Services');"><i class="fa fa-fw fa-file-text"></i>Services</a></li>
				<li><a href="#" onclick="SelectSection('CIFProfile');"><i class="fa fa-fw fa-file-text"></i>CIF Profile</a></li>
				<li><a href="#" onclick="SelectSection('CIFProfile');"><i class="fa fa-fw fa-file-text"></i>CIF Profile</a></li>
			</ul>

		</div>
	</div>
</nav>