{% extends "base.html" %}

{% include "include/navbar.html" %}

{% block title %}
  <title>Runs</title>
{% endblock %}

{% block content %}
<body id="RunPage">
<div class="container" style="padding-top:65px;">
</div>

<br>
<h5 style="padding-top:10px; padding-left:20px;">Select a project to view available runs</h5>

<div style="padding-top:2px; padding-left:20px;">

   
  <select class="dropdown" id="MetadataTeamSelect">
    
      {% if all_projects is not none %}

        {% for project in all_projects %}
        <option value="/opsml/runs/list/?project={{ project }}">{{ project }}</option>
        {% endfor %}
      {% else %}
      <option value="None">No project found</option>
      {% endif %}
  </select>
  
</div>


</body>

{% endblock %}

{% block scripts %}

<script>
  $(document).ready(function() {
    $('#MetadataTeamSelect').select2();

    $("#MetadataTeamSelect").on('select2:select', function(e){
      window.location.href = e.params.data.id;
    });
});


</script>


{% endblock %}






