[run]
omit = 
    *tests*
    *opsml/connector/*
    *opsml/.local_tests/*
    */tmp/*
    *opsml/helpers/settings.py
    */opt/*
    *opsml/registry/sql/migration/*
    *opsml/app/core/middleware.py 
    *opsml/app/core/initialize_mlflow.py