[package]
name = "py-opsml"
version = { workspace = true }
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "opsml"
crate-type = ["cdylib", "rlib"]

[dependencies]
opsml-cards = { workspace = true }
opsml-error = { workspace = true }
opsml-interfaces = { workspace = true }
opsml-logging = { workspace = true }
opsml-registry = { workspace = true }
opsml-semver = { workspace = true }
opsml-settings = { workspace = true }
opsml-storage = { workspace = true}
opsml-todo = { workspace = true }
opsml-types = { workspace = true }
opsml-utils = { workspace = true }
pyo3 = { workspace = true }
scouter-client = { workspace = true }

[features]
default = []
server = ["opsml-registry/server"]

[optional-dependencies]
opsml-registry = { workspace = true, features = ["server"], optional = true }
