site_name: OpsML
site_dir: site/opsml
site_url: https://docs.demml.io/opsml/
theme:
  name: material
  logo: docs/images/favicon.ico
  favicon: docs/images/favicon.ico
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme)"
      primary: stylesheets/extra.css
      accent: stylesheets/extra.css
      toggle:
        icon: material/weather-night
        name: "Switch to light mode"

    - media: "(prefers-color-scheme: light)"
      scheme: opsml-light
      primary: stylesheets/extra.css
      accent: stylesheets/extra.css
      toggle:
        icon: material/weather-night
        name: "Switch to dark mode"

    - media: "(prefers-color-scheme: dark)"
      scheme: opsml-dark
      primary: stylesheets/extra.css
      accent: stylesheets/extra.css
      toggle:
        icon: material/weather-sunny
        name: "Switch to system preference"

  features:
    - content.code.annotate
    - content.code.copy
    - announce.dismiss
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.suggest
    - toc.follow

  font:
    text: Roboto
    code: Roboto Mono

repo_name: opsml
repo_url: https://github.com/demml/opsml
nav:
  - Overview: "index.md"
  - Quality Control: "quality_control.md"
  - Installation: "installation.md"
  - Contributing: "contributing.md"
  - Setup:
      - "docs/setup/overview.md"
      - "docs/setup/authentication.md"
  - Cards:
      - "docs/cards/overview.md"
      - "docs/cards/versioning.md"
      - "docs/cards/modelcard.md"
      - "docs/cards/datacard.md"
      - "docs/cards/experimentcard.md"
      - "docs/cards/promptcard.md"
  - Automation:
      - "docs/automation/service.md"
      - "docs/automation/pyproject.md"
  - Tech Specs:
      - Overview: "docs/specs/Readme.md"
      - Components:
          - Auditing: "docs/specs/ts-component-auditing.md"
          - Card Deck: "docs/specs/ts-component-cardservice.md"
          - EventBus: "docs/specs/ts-component-eventbus.md"
          - Experiment: "docs/specs/ts-component-experiment.md"
      - Features:
          - Builds: "docs/specs/ts-feature-builds.md"
          - Async Registry: "docs/specs/ts-feature-opsml-registry-hardware-async.md"
  - API Documentation:
      - Cards: "docs/api/cards.md"
      - Model: "docs/api/model.md"
      - Experiment: "docs/api/experiment.md"
      - Data: "docs/api/data.md"
      - PotatoHead: "docs/api/potato_head.md"
      - Types: "docs/api/types.md"
      - Logging: "docs/api/logging.md"
      - Mock: "docs/api/mock.md"
      - Scouter:
          - Alert: "docs/api/scouter/alert.md"
          - Client: "docs/api/scouter/client.md"
          - Drift: "docs/api/scouter/drift.md"
          - Profile: "docs/api/scouter/profile.md"
          - Queue: "docs/api/scouter/queue.md"
          - Types: "docs/api/scouter/types.md"

markdown_extensions:
  - tables
  - toc:
      permalink: true
      title: Page contents
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - admonition
  - def_list
  - attr_list
  - md_in_html:
  - pymdownx.keys:
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - mkdocstrings:
      handlers:
      python:
        paths: [.] # see also: build-docs.sh
        options:
          members_order: source
          separate_signature: true
          filters: ["!^_"]
          docstring_options:
            ignore_init_summary: true
          docstring_style: google
          merge_init_into_class: true
          show_signature_annotations: true
          signature_crossrefs: true

extra_css:
  - docs/css/custom.css
  - docs/stylesheets/extra.css
  - docs/css/termynal.css

extra:
  version:
    provider: mike
