[data-theme='opsml'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(100% 0 none);
	--color-primary-100: oklch(93.89% 0.03 298.94deg);
	--color-primary-200: oklch(87.64% 0.06 297.52deg);
	--color-primary-300: oklch(81.68% 0.09 296.49deg);
	--color-primary-400: oklch(75.43% 0.12 295.41deg);
	--color-primary-500: oklch(69.38% 0.15 294.43deg);
	--color-primary-600: oklch(62.05% 0.14 292.48deg);
	--color-primary-700: oklch(54.42% 0.15 290.34deg);
	--color-primary-800: oklch(46.8% 0.14 288.12deg);
	--color-primary-900: oklch(38.81% 0.14 284.68deg);
	--color-primary-950: oklch(30.8% 0.14 279.58deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(100% 0 none);
	--color-secondary-100: oklch(96.94% 0.03 152.03deg);
	--color-secondary-200: oklch(94.13% 0.07 151.63deg);
	--color-secondary-300: oklch(91.4% 0.1 150.87deg);
	--color-secondary-400: oklch(88.95% 0.13 150.17deg);
	--color-secondary-500: oklch(86.65% 0.16 149.26deg);
	--color-secondary-600: oklch(79.19% 0.16 149.3deg);
	--color-secondary-700: oklch(71.61% 0.16 149.57deg);
	--color-secondary-800: oklch(64.21% 0.16 149.04deg);
	--color-secondary-900: oklch(56.48% 0.15 148.47deg);
	--color-secondary-950: oklch(48.69% 0.14 146.96deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(100% 0 none);
	--color-tertiary-100: oklch(96.15% 0.02 225.13deg);
	--color-tertiary-200: oklch(92.4% 0.03 226.29deg);
	--color-tertiary-300: oklch(88.85% 0.05 224.41deg);
	--color-tertiary-400: oklch(85.21% 0.06 225.62deg);
	--color-tertiary-500: oklch(81.58% 0.08 226.36deg);
	--color-tertiary-600: oklch(74.2% 0.08 224.67deg);
	--color-tertiary-700: oklch(66.44% 0.09 224.21deg);
	--color-tertiary-800: oklch(58.81% 0.09 222.51deg);
	--color-tertiary-900: oklch(50.87% 0.09 223.54deg);
	--color-tertiary-950: oklch(43.17% 0.08 225.15deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(99.73% 0.01 106.54deg);
	--color-success-100: oklch(95.32% 0.03 64.15deg);
	--color-success-200: oklch(90.92% 0.05 52.85deg);
	--color-success-300: oklch(86.86% 0.07 49.71deg);
	--color-success-400: oklch(82.67% 0.09 46.55deg);
	--color-success-500: oklch(78.73% 0.12 44.77deg);
	--color-success-600: oklch(71.3% 0.12 44.26deg);
	--color-success-700: oklch(63.76% 0.11 44.76deg);
	--color-success-800: oklch(55.97% 0.11 44.57deg);
	--color-success-900: oklch(48.04% 0.11 44.64deg);
	--color-success-950: oklch(39.91% 0.1 42.81deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(100% 0 none);
	--color-warning-100: oklch(99.45% 0.03 106.84deg);
	--color-warning-200: oklch(98.67% 0.05 107.31deg);
	--color-warning-300: oklch(98.23% 0.08 107.75deg);
	--color-warning-400: oklch(97.56% 0.1 108.15deg);
	--color-warning-500: oklch(97.23% 0.13 108.51deg);
	--color-warning-600: oklch(89.67% 0.13 109.17deg);
	--color-warning-700: oklch(82.27% 0.12 109.86deg);
	--color-warning-800: oklch(74.4% 0.12 110.62deg);
	--color-warning-900: oklch(66.67% 0.12 111.46deg);
	--color-warning-950: oklch(58.4% 0.12 112.45deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-dark);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(100% 0 none);
	--color-error-100: oklch(97.02% 0 none);
	--color-error-200: oklch(94.01% 0 none);
	--color-error-300: oklch(90.67% 0 none);
	--color-error-400: oklch(87.61% 0 none);
	--color-error-500: oklch(84.52% 0 none);
	--color-error-600: oklch(77.31% 0 none);
	--color-error-700: oklch(69.6% 0 none);
	--color-error-800: oklch(62.01% 0 none);
	--color-error-900: oklch(53.82% 0 none);
	--color-error-950: oklch(45.68% 0 none);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-dark);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(98.81% 0 none);
	--color-surface-200: oklch(97.39% 0 18.81deg);
	--color-surface-300: oklch(96.19% 0 18.79deg);
	--color-surface-400: oklch(94.76% 0 17.99deg);
	--color-surface-500: oklch(93.56% 0 17.98deg);
	--color-surface-600: oklch(86.23% 0 17.91deg);
	--color-surface-700: oklch(78.74% 0 17.84deg);
	--color-surface-800: oklch(70.74% 0 17.77deg);
	--color-surface-900: oklch(62.85% 0 17.7deg);
	--color-surface-950: oklch(54.69% 0 17.63deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}