{% extends "base.html" %}

{% block title %}
  <title>Oops!</title>
{% endblock %}



{% block content %}

<div class="container" style="padding-top:65px;">
</div>

<div class="container">
  <div class="hero text-center my-4">
      <h1 class="display-5"><i class="bi bi-gear-fill text-danger mx-3"></i></h1>
      <h1 class="display-5 fw-bold" style="color:#241239">500 Internal Server Error</h1>
      <br>
      <p><button type="button" class="btn btn-primary" style="background-color:#038767; border:#038767" onclick="history.back()">Go Back</button>
  </div>

  <div class="content">
    <div class="row  justify-content-center py-3">
        <div class="col-md-6">
            <div class="my-5 p-5 card">
                <h3>What happened?</h3>
                <p class="fs-5">{{error_message}}</p>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
