<div class="footer-dark">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-6 col-md-2 item" align="center">
          <h3>Additional Info</h3>
          <ul>
            <li><a href="https://github.com/shipt/opsml">Github</a></li>
            <li><a href="https://github.com/shipt/opsml/blob/main/CONTRIBUTING.md">Contributing</a></li>
            <li><a href="https://github.com/shipt/opsml/blob/main/ATTRIBUTIONS.md">Attributions</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>