:root > * {
  --md-primary-fg-color: #502D91;
  --md-secondary-fg-color: #038767;
  --md-accent-fg-color:                #038767;
  --md-accent-fg-color--transparent:   #038767;
}

.md-typeset {
  font-size: 17px;

}

.md-sidebar--primary {
  width: 8rem;
}

.md-sidebar--secondary {
  width: 10rem;
}

