<hr id="version-spacer">

<div class="card-body" id="PlotButtons">
  <h5><i class="fa-solid fa-tag" style="color:#04b78a"></i> <font color="#999">Plots</font></h5>

  <a href="/opsml/projects/runs/plot/?run_uid={{ runcard["uid"] }}&project={{ project }}" >
    <button id="metric-button" type="submit" class="btn btn-success" >Show</button>
  </a>


</div>

<figure class="highcharts-figure">
    <div id="MetricChart"></div>
    </figure>
    
{% if runcard["metrics"]|length > 0 %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>


    Highcharts.chart('MetricChart', {
        chart: {
          type: 'column'
        },
        title: {
          text: 'Metrics for {{ runcard["name"] }}',
          align: 'left'
        },
      
        xAxis: {
          categories: ['USA', 'China', 'Brazil', 'EU', 'India', 'Russia'],
          crosshair: true,
          accessibility: {
            description: 'Countries'
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: '1000 metric tons (MT)'
          }
        },
        tooltip: {
          valueSuffix: ' (1000 MT)'
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        series: [{
            name: 'Corn',
            data: [406292, 260000, 107000, 68300, 27500, 14500]
          },
          {
            name: 'Wheat',
            data: [51086, 136000, 5500, 141000, 107180, 77000]
          }
        ]
      });
</script>
{% endif %}