numpy==1.21.6
--extra-index-url=https://${POETRY_HTTP_BASIC_SHIPT_RESOLVE_USERNAME}:"${POETRY_HTTP_BASIC_SHIPT_RESOLVE_PASSWORD}"@artifactory.shipt.com/artifactory/api/pypi/pypi-virtual/simple
opsml-data==0.1.1rc1673226898