<nav class="navbar navbar-expand navbar-light px-5" id="DataSubnav" >
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {{data_name_subnav}}" aria-current="page" href="/opsml/data/list/" style="font-size: 20px;" id="data_available"> <i></i>Available</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{data_version_subnav}}" aria-current="page" href="/opsml/data/versions/" style="font-size: 20px;" id="data_versions"> <i></i>Versions</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  