{% extends "base.html" %}

{% set model_status = 'active' %}
{% set data_status = none %}
{% set audit_status = none %}
{% set runs_status = none %}
{% include "include/navbar.html" %}

{% block title %}
  <title>Models</title>
{% endblock %}

{% block content %}
<body id="ModelPage">
<div class="container" style="padding-top:65px;">
</div>

{% with model=none %}
{% set model_name_subnav = 'active' %}
{% set model_version_subnav = none %}
{% include "include/model/model_subnav.html" %}
{% endwith %}

<br>
<div class="container" style="padding-top:50px;">
    <div class="row">
      <h5 class="display-8">Select a team to view available models</h5>
    </div>


  <div>
      <select class="dropdown" id="MetadataTeamSelect" style="visibility:hidden;">

        {% if all_teams is not none %}

          {% for team in all_teams %}
          <option value="/opsml/models/list/?team={{team}}" {% if team == selected_team %} selected="selected" {% endif %}>{{ team }}</option>
          {% endfor %}

        {% else %}
        <option value="None">No team found</option>
        {% endif %}

      </select>
  </div>



<br>
<!---- Form for selecting model -------->
<div class="container">
    <div class="page-header">
      <h2>{{selected_team}}</h2>
    </div>
</div>
<br>
<div class="model-container">
  <div class="row row-cols-md-5">
    {% for model in models %}
      <div class="col-12">
        {% with model=model %}
        {% include "include/model/card.html" %}
        {% endwith %}
      </div>
    {% endfor %}
  </div>
</div>
</body>
{% endblock %}

{% block scripts %}

<script>
  $(document).ready(function() {
    $('#MetadataTeamSelect').select2();
  
    $("#MetadataTeamSelect").on('select2:select', function(e){
      window.location.href = e.params.data.id;
    });
  });
</script>
{% endblock %}




