[package]
name = "opsml-semver"
version = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }

[lib]
doctest = false

[dependencies]
pyo3 = { workspace = true }
semver = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }