name: Publish-Github-Pages

on:
  push:
    branches:
      - main
      - docs
  release:
    types: [published]

permissions:
  contents: write
jobs:
  PublishDocs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Create CNAME record
        working-directory: ./py-opsml
        run: echo ${{ secrets.DEMML_DOCS_DOMAIN }} > docs/CNAME

      - name: Publish Docs
        working-directory: ./py-opsml
        run: |
          make setup.project
          make publish.docs
