:root {
  --md-primary-fg-color: #038767;
  --md-secondary-fg-color: #502D91;
}


.md-typeset {
  font-size: 17px;
}

.md-sidebar--primary {
  width: 8rem;
}

.md-sidebar--secondary {
  width: 10rem;
}


